/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css');

.container-fluid{
    padding:10px;    
}

/* router-outlet ~ * {
    position: absolute;
    height: auto;
    width: auto;
  } */